input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
 color: #ab1d1a;
background-color: #f7f4f4;
border: 1px solid #ca6e7c;
margin-bottom:0px;
border-radius:3px 3px 0px 0px;
}

.parsley-errors-list {
  
  background:#ab1d1a;
  border-radius:0px 0px 3px 3px;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  color:#fff;
  opacity: 0;
  
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 0.7;
  margin: 0px 0 10px;
  padding: 8px !important;
}
